<footer class="footer">
    <div class="footer__container footer__container--top">
      <div class="footer__section footer__section--logo"><a href="/"><img src="{{site.baseurl}}/assets/img/logo-symbol.png"></a></div>
      <div class="footer__section footer__section--sitemap">
        <h5>Robert-Laws.com</h5>
        <p><a href="{{site.baseurl}}/projects">Projects</a></p>
        <p><a href="{{site.baseurl}}/blog">Blog</a></p>
        <p><a href="{{site.baseurl}}/about">About Me</a></p>
        <p><a href="{{site.baseurl}}/resume">Resume</a></p>
        <p><a href="{{site.baseurl}}/contact">Contact</a></p>
      </div>
      <div class="footer__section footer__section--social-media">
        <a href="https://github.com/robert-laws"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/roblaws1975"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/robert-duncan-laws"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.behance.net/robdlaws"><i class="fab fa-behance"></i></a>
        <a href="https://www.pinterest.com/roblaws1975/"><i class="fab fa-pinterest"></i></a>
        <a href="https://www.instagram.com/robdlaws/"><i class="fab fa-instagram"></i></a></div>
      <div class="footer__section footer__section--placeholder"></div>
    </div>
    <div class="footer__container footer__container--bottom">
      <p>© Copyright 2019. All rights reserved. Robert Laws</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{site.baseurl}}/assets/js/app.js"></script>
  </footer>