<header class="website-header"><span id="navbar-toggle"><i class="fas fa-bars"></i></span>
  <div class="website-header__logo"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/logo-text.png"></a></div>
  <nav class="website-header__navigation" id="main-nav">
    <a class="true-link" href="{{site.baseurl}}/projects">Projects</a>
    <a class="true-link" href="{{site.baseurl}}/blog">Blog</a>
    <a class="true-link" href="{{site.baseurl}}/about">About Me</a>
    <a class="true-link" href="{{site.baseurl}}/contact">Contact</a>
  </nav>
</header>