<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} | {{site.title}}{% else %}{{site.title}}{% endif %}</title>
  {% feed_meta %}
  {% seo %}
  <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
  <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/app-styles.css">
  <!-- <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css"> -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
  <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/img/favicon.ico">

  <!-- external vendor styles -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>