<section class="hero">
  <div class="hero__sideline"></div>
  <div class="hero__welcome">
    <h1>Robert Laws</h1>
    <h2>Data, Media, and Web Librarian</h2>
    <div class="hero__portrait">
      <img src="{{site.baseurl}}/assets/img/rdl.jpg" alt="Robert Laws" />
      <p>
        Librarian. Supporting learners in data, media, and information literacy
        and teaching skills for the modern workplace. Read more
        <a href="{{site.baseurl}}/about">about me</a> and view my
        <a href="{{site.baseurl}}/resume">resume</a>.
      </p>
    </div>
    <div class="hero__callout">
      <div class="hero__button">
        <a href="{{site.baseurl}}/contact" class="btn">Contact Me</a>
      </div>
    </div>
  </div>
  <div class="hero__image"></div>
  <div class="hero__sideline"></div>
</section>
