<section class="hero">
  <div class="hero__sideline"></div>
  <div class="hero__welcome">
    <h1>Robert Laws</h1>
    <h2>Web/UX/Designer</h2>
    <div class="hero__portrait">
      <img src="{{site.baseurl}}/assets/img/rdl.jpg" alt="Robert Laws">
      <p>Apiring Web Developer & UX Designer. Ready to face new challenges and push my limits.</p>
    </div>
    <div class="hero__callout">
      <div class="hero__button">
        <a href="{{site.baseurl}}/contact" class="btn">Contact</a>
      </div>
    </div>
  </div>
  <div class="hero__image"></div>
  <div class="hero__sideline"></div>
</section>