<section class="hero">
  <div class="hero__sideline"></div>
  <div class="hero__welcome">
    <h1>Robert Laws</h1>
    <h2>Information Professional and Web Developer</h2>
    <div class="hero__portrait">
      <img src="{{site.baseurl}}/assets/img/rdl.jpg" alt="Robert Laws" />
      <p>
        Technology & Instruction Librarian and Web Developer. Ready to face new
        challenges and push my limits. Read more
        <a href="{{site.baseurl}}/about">about me</a> and see my
        <a href="{{site.baseurl}}/resume">resume</a>.
      </p>
    </div>
    <div class="hero__callout">
      <div class="hero__button">
        <a href="{{site.baseurl}}/contact" class="btn">Contact Me</a>
      </div>
    </div>
  </div>
  <div class="hero__image"></div>
  <div class="hero__sideline"></div>
</section>
