<article class="blog-entry">
  <div class="blog-entry__sideline--left"></div>
  <div class="blog-entry__text">
    <header class="blog-entry__header">
      <div class="title">
        <h3><a href="{{site.baseurl}}{{include.url}}">{{include.title}}</a></h3>
      </div>
      <div class="date">
        <time itemprop="dateCreated" datetime="{{include.date}}">{{include.date | date: "%B %-d, %Y" }}</time>
      </div>
      <div class="author"><span>by <a href="{{site.baseurl}}/authors/{{include.author | slugify}}">{{include.author}}</a></span></div>
    </header>
    <section class="blog-entry__summary">
        {{include.excerpt}}
    </section>
    <section class="blog-entry__categories--links">
      {% for tag in include.tags %}
        <a href="{{site.baseurl}}/tags/{{tag | slugify}}">{{tag}}</a> 
      {% endfor %}    
    </section>
  </div>
  <div class="blog-entry__visual"><img src="{{site.baseurl}}/assets/img/{{include.image}}"></div>
  <div class="blog-entry__sideline--right"></div>
</article>