<article class="project-entry">
  <div class="project-entry__sideline--left"></div>
  <div class="project-entry__text">
    {% if include.homepage %}
    <h4>Latest Project</h4>
    {% endif %}
    <div class="project-entry__header">
      <div class="title">
        <h3><a href="{{site.baseurl}}{{include.url}}">{{include.title}}</a></h3>
      </div>
      <div class="date">
        <span>Project Release Date:</span>
        <time itemprop="dateCreated" datetime="{{include.date}}"
          >{{include.date | date: "%B %Y" }}</time
        >
      </div>
    </div>
    <div class="project-entry__description">
      <p>{{include.description}}</p>
      <a href="{{site.baseurl}}{{include.url}}"
        >Read More <i class="fas fa-external-link-square-alt"></i
      ></a>
    </div>
    <div class="project-entry__features">
      <h4>Top Features</h4>
      {% for feature in include.features %}
      <ul>
        <li>{{feature}}</li>
      </ul>
      {% endfor %}
    </div>
    <div class="project-entry__technologies-title">
      <h4>Tech-Stack</h4>
    </div>
    <div class="project-entry__technologies-links">
      {% for tech in include.tech_stack %}
      <a href="{{site.baseurl}}/tech-stack/{{tech | slugify}}">{{tech}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="project-entry__visual">
    {% if include.homepage %}
    <h4>Latest Project</h4>
    {% endif %}
    <a href="{{site.baseurl}}{{include.url}}"
      ><img
        src="{{site.baseurl}}/assets/img/project/{{include.featured_image}}"
    /></a>
  </div>
  <div class="project-entry__sideline--right"></div>
</article>
