$color-primary: #41FFDA;
$color-secondary: #F41D12;

$color-white: #FFF;
$color-black: #000;

$color-wet-asphalt: #34495E;

$call-to-action: #57b846;

$color-primary-light: #0095CB;
$color-primary-dark: #003852;
$color-primary-medium: #005978;