---
layout: default
title: Blog Posts
---

<section class="blog-list">
  <div class="blog-list__header">
    <div class="blog-list__header--sideline"></div>
    <h1>All Blog Posts</h1>
    <div class="blog-list__header--sideline"></div>
  </div>
  {% for post in paginator.posts %}
    {% capture post_url %}{{post.url}}{% endcapture %}
    {% capture post_title %}{{post.title}}{% endcapture %}
    {% capture post_date %}{{post.date}}{% endcapture %}
    {% capture post_author %}{{post.author}}{% endcapture %}
    {% capture post_excerpt %}{{post.excerpt}}{% endcapture %}
    {% assign post_categories = post.categories %}
    {% assign post_tags = post.tags %}
    {% capture featured_image %}{{post.featured-image}}{% endcapture %}

    {% include post.html homepage=false url=post_url title=post_title date=post_date author=post_author excerpt=post_excerpt tags=post_tags categories=post_categories image=featured_image %}
  {% endfor %}
  <div class="paginator">
    <div class="paginator__previous">
      {% if paginator.previous_page %}      
        {% if paginator.previous_page == 1 %}
          <a href="{{site.baseurl}}/blog" class="previous">
            <i class="fas fa-chevron-left"></i>
          </a>
        {% else %}
          <a href="{{site.baseurl}}/blog/page{{paginator.previous_page}}" class="previous">
            <i class="fas fa-chevron-left"></i>
          </a>
        {% endif %}
      {% else %}
        <span class="prev-link prev-link--dash">
          &dash;
        </span>
      {% endif %}
    </div>
    <div class="paginator__information">
      <span class="page-information">
        page {{paginator.page}} of {{paginator.total_pages}}
      </span>
    </div>
    <div class="paginator__next">
      {% if paginator.next_page %}
        <a href="{{site.baseurl}}/blog/page{{paginator.next_page}}" class="next">
          <i class="fas fa-chevron-right"></i>
        </a>
      {% else %}
        <span class="next-link next-link--dash">
          &dash;
        </span>
      {% endif %}
    </div>
  </div>
</section>