.paginator {
  $self: &;
  display: flex;
  justify-content: center;

  margin-top: 6rem;
  
  &__previous {
    
    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
         
      height: 80px;
      width: 80px;
      border-radius: 20px;
      background-color: $color-wet-asphalt;
      color: $color-white;

      i {
        align-self: center;
        margin-right: 0.5rem;
        font-size: 4rem;
      }
    }

    a:link,
    a:visited {
      background-color: $color-wet-asphalt;
    }

    a:hover,
    a:active {
      color: $color-primary-light;
      background-color: $color-primary-dark;
    }

    span {
      display: flex;
      justify-content: center;         
      height: 80px;
      width: 80px;
      border-radius: 20px;
      background-color: $color-wet-asphalt;
      color: $color-white;
      line-height: 0.7;
      font-size: 10rem;
    }
  }

  &__information {
    flex: 0 0 18rem;
    display: flex;
    justify-content: center;

    span {
      align-self: center;
      font-size: 2.5rem;
      color: $color-wet-asphalt;
    }
  }

  &__next {
    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
         
      height: 80px;
      width: 80px;
      border-radius: 20px;
      background-color: $color-wet-asphalt;
      color: $color-white;

      i {
        align-self: center;
        margin-left: 0.5rem;
        font-size: 4rem;
      }
    }

    a:link,
    a:visited {
      background-color: $color-wet-asphalt;
    }

    a:hover,
    a:active {
      color: $color-primary-light;
      background-color: $color-primary-dark;
    }

    span {
      display: flex;
      justify-content: center;         
      height: 80px;
      width: 80px;
      border-radius: 20px;
      background-color: $color-wet-asphalt;
      color: $color-white;
      line-height: 0.55;
      font-size: 10rem;
    }
  }
}