.project-detail {
  position: relative;
  $self: &;
  display: flex;
  padding: 7rem 0;

  background-color: lighten($color-primary-dark, 80%);
  // -webkit-clip-path: polygon(0% 1%, 100% 0%, 100% 100%, 0% 99%);
  // clip-path: polygon(0% 1%, 100% 0%, 100% 100%, 0% 99%);
  -webkit-clip-path: none;
  clip-path: none;

  @include sm {
    flex-direction: column;
    -webkit-clip-path: none;
    clip-path: none;
  }

  &__sideline {
    flex: 2;
    display: flex;

    @include lg {
      flex: 0;
    }

    &--nav {
      flex: 2;

      @include xl {
        flex: 4;
      }

      @include lg {
        flex: 4;
      }

      @include sm {
        justify-content: center;
      }
    }
  }

  &__content {
    flex: 6;
    display: flex;
    flex-direction: column;
    min-height: 40rem;

    @include xl {
      flex: 12;
    }

    @include lg {
      margin: 0 5rem;
    }

    @include md {
      margin: 0 3rem;
    }

    @include sm {
      margin: 0 1rem;
    }

    a {
      text-decoration: none;
    }

    a:link,
    a:visited {
      color: darken($color-primary-light, 5%);
    }

    a:hover,
    a:active {
      color: $color-wet-asphalt;
    }

    table {
      width: 100%;
      display: block;
      overflow: auto;
      font-size: 1.7rem;
      border-collapse: collapse;
      border-spacing: 0;
      margin-top: 2rem;

      tr {
        background-color: #fff;
      }

      tr:nth-child(2n)  {
        background-color: rgba(255, 255, 255, 0.808);
      }

      th {
        border: 1px solid #dfe2e5;
        border-bottom: 2px solid #dfe2e5;
        padding: 6px 13px;
      }

      td {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
      }
    }

    #{$self}__header {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(lighten($color-wet-asphalt, 50%), 0.5);
      margin-top: 1.2rem;

      @include sm {
        flex: 1 1 auto;
        margin: 0 1rem;
      }

      #{$self}__title {
        flex: 0;
        font-size: 3rem;
        color: $color-primary-dark;
        margin-bottom: 1rem;
      }

      #{$self}__date {
        flex: 0;
        margin: 0.2rem 0 1.8rem;

        span {
          font-size: 1.6rem;
        }

        time {
          font-size: 1.6rem;
          color: $color-wet-asphalt;
        }       
      }

      #{$self}__url {
        flex: 0;
        margin: -1.2rem 0 1.8rem;

        span {
          font-size: 1.6rem;
        }
      }
    }

    #{$self}__text {
      flex: 1;
      margin: 0 2rem 1.2rem;

      h2 {
        font-size: 2.6rem;
        border-bottom: 1px solid rgba(lighten($color-wet-asphalt, 20%), 0.5);
      }

      h2, h3 {
        color: lighten($color-wet-asphalt, 8%);
        margin: 1.2rem 0 1rem;

        &:not(:first-child) {
          margin-top: 4rem;
        }
      }

      ul {
        margin-left: 3rem;

        li {
          font-size: 1.7rem;
        }
      }

      h4 {
        font-size: 1.8rem;
        margin: 3rem 0 -1rem;
      }

      p {
        margin: 2rem 0;

        code {
          background: rgba(0,0,0,0.05);
          padding: 3px 4px;
          margin: 0 2px;
        }
      }

      p.project-detail-container {
        text-align: center;
      }

      p.project-detail-caption {
        text-align: center;
        margin-top: -2rem;
        margin-bottom: 2.6rem;
        font-style: italic;
        color: lighten($color-black, 50%)
      }

      p.project-detail-caption--code {
        text-align: center;
        margin-top: -0.5rem;
        margin-bottom: 2.6rem;
        font-style: italic;
        color: lighten($color-black, 50%)
      }
      
      img.project-detail-image--full {
        width: 86%;
        margin: 1rem 0;
        border: 1px solid #e6e6e6;
        border-radius: 0.5rem;
        box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.1);
      }

      img.project-detail-image--three-fourths {
        width: 75%;
        margin: 1rem 0;
        border: 1px solid #e6e6e6;
        border-radius: 0.5rem;
        box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.1);

        @include sm {
          width: 86%;
        }
      }

      img.project-detail-image--half {
        width: 50%;
        margin: 1rem 0;
        border: 1px solid #e6e6e6;
        border-radius: 0.5rem;
        box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.1);

        @include sm {
          width: 72%;
        }
      }

      img.project-detail-image--quarter {
        width: 30%;
        margin: 1rem 0;
        border: 1px solid #e6e6e6;
        border-radius: 0.5rem;
        box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.1);

        @include sm {
          width: 60%;
        }
      }

      figure {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2.4rem auto;
        width: 86%;
        border: 1px solid lighten($color-black, 90%);
        border-radius: 0.5rem;
        overflow: hidden;

        @include sm {
          width: 100%;
          margin: 1rem auto;
        }

        img {
          width: 100%;
          display: block;
        }

        figcaption {
          background-color: lighten($color-wet-asphalt, 15%);
          font-size: 1.4rem;
          color: $color-white;
          padding: 0.9rem 1rem 0.8rem;
          margin-top: -5px;
        }
      }
    }
  }
}

aside.project-detail__side-nav {
  top: 6rem;
  position: sticky;
  position: -webkit-sticky;
  height: 38rem;

  background-color: rgba($color-primary-light, 0.05);
  border-radius: 5px;
  margin: 6rem 5rem 0;
  padding: 1rem 1.5rem;

  @include sm {
    top: 0;
    width: 100%;
    position: relative;
    margin-top: -3rem;
    margin-bottom: 2rem;
    height: auto;
  }

  h3 {
    color: $color-primary-light;
  }

  ul {
    list-style-type: none;

    li {
      margin: 1rem 0;

      a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
      }

      a:link,
      a:visited {
        color: $color-wet-asphalt;
      }
    }
  }
}