.project-detail {
  padding: 7rem 0;
  background-color: lighten($color-primary-dark, 79%);
  -webkit-clip-path: polygon(0% 0%, 100% 3%, 100% 97%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 3%, 100% 97%, 0% 100%);

  position: relative;

  $self: &;
  display: flex;

  &__sideline {
    flex: 2;
    display: flex;

    @include lg {
      flex: 0;
    }    
  }

  &__content {
    flex: 6;
    display: flex;
    flex-direction: column;
    min-height: 40rem;

    @include xl {
      flex: 12;
    }

    @include lg {
      margin: 0 5rem;
    }

    @include md {
      margin: 0 3rem;
    }

    @include sm {
      margin: 0 1rem;
    }

    a {
      text-decoration: none;
    }

    a:link,
    a:visited {
      color: darken($color-primary-light, 5%);
    }

    a:hover,
    a:active {
      color: $color-wet-asphalt;
    }

    #{$self}__header {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(lighten($color-wet-asphalt, 50%), 0.5);
      margin-top: 1.2rem;

      @include sm {
        flex: 1 1 auto;
        margin: 0 1rem;
      }

      #{$self}__title {
        flex: 0;
        font-size: 3rem;
        color: $color-primary-dark;
        margin-bottom: 1rem;
      }

      #{$self}__date {
        flex: 0;
        margin: 0.2rem 0 1.2rem;

        span {
          font-size: 1.6rem;
        }

        time {
          font-size: 1.6rem;
          color: $color-wet-asphalt;
        }       
      }
    }

    #{$self}__text {
      flex: 1;
      margin-bottom: 1.2rem;

      h2, h3 {
        color: lighten($color-wet-asphalt, 8%);
        margin: 1.2rem 0 1rem;

        &:not(:first-child) {
          margin-top: 4rem;
        }
      }

      p {
        margin: 1.2rem 0;
      }

      img.project-detail-image {
        width: 100%;
        margin: 1rem 0;
        border: 1px solid #e6e6e6;
        border-radius: 0.5rem;
      }

      figure {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2.4rem auto;
        width: 86%;
        border: 1px solid lighten($color-black, 90%);
        border-radius: 0.5rem;
        overflow: hidden;

        @include sm {
          width: 100%;
          margin: 1rem auto;
        }

        img {
          width: 100%;
          display: block;
        }

        figcaption {
          background-color: lighten($color-wet-asphalt, 15%);
          font-size: 1.4rem;
          color: $color-white;
          padding: 0.9rem 1rem 0.8rem;
          margin-top: -5px;
        }
      }
    }
  }
}

aside.project-detail__side-nav {
  top: 10rem;
  position: sticky;

  height: 30rem;

  background-color: rgba($color-primary-light, 0.05);
  border-radius: 5px;
  margin: 10rem 5rem 0;
  padding: 1rem;

  h3 {
    color: $color-primary-light;
  }

  ul {
    list-style-type: none;

    li {
      margin: 1rem 0;

      a {
        text-decoration: none;
        font-size: 1.5rem;
      }

      a:link,
      a:visited {
        color: $color-wet-asphalt;
      }
    }
  }
}