---
layout: default
---

<section class="linked">
  <div class="linked__sideline"></div>
  <div class="linked__content">
    <div class="linked__header">
      <h1>{{ page.author }}</h1>
    </div>
    <div class="linked__text">
    {% assign the_author = page.author %}
      <h3>Posts</h3>
      <ul>
      {% for post in site.posts %}
        {% for author in post.author %}
          {% if author == the_author %}
          <li>
            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
          </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="linked__sideline"></div>
</section>