---
layout: default
title: Posts by Author
---

<section class="linked">
  <div class="linked__sideline"></div>
  <div class="linked__content">
    <div class="linked__header">
      <h1>Blog Posts by {{ page.author }}</h1>
    </div>
    {% if page.content != "" %}
      <div class="linked__description">
        <p>{{page.content}}</p>
        <hr>
      </div>
    {% endif %}
    <div class="linked__text">
    {% assign the_author = page.author %}
      <h3>All Posts</h3>
      <ul>
      {% for post in site.posts %}
        {% for author in post.author %}
          {% if author == the_author %}
          <li class="sub-list">
            <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a><br><span>(Published: <time itemprop="dateCreated" datetime="{{page.date}}">{{post.date | date: "%B %-d, %Y" }}</time>)</span>
          </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="linked__sideline"></div>
</section>