---
layout: default
---
<section class="linked">
  <div class="linked__sideline"></div>
  <div class="linked__content">
    <div class="linked__header">
      <h1>{{page.category | capitalize}}</h1>
    </div>
    <div class="linked__text">
      {% assign the_author = page.author %}
      <h3>Posts</h3>
      <ul>
        {% for post in site.categories[page.category] %}
        <li class="sub-list">
          <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="linked__sideline"></div>
</section>