---
layout: default
---

<article class="blog-post">
  <div class="blog-post__sideline"></div>
  <div class="blog-post__content">
    <header class="blog-post__header">
      <div class="blog-post__category">
        {% for category in page.categories limit:1 %}
        <a href="{{site.baseurl}}/categories/{{category}}">{{category}}</a>
        {% endfor %}
      </div>
      <div class="blog-post__title">{{page.title}}</div>
      <div class="blog-post__author">by<span> <a href="{{site.baseurl}}/authors/{{page.author | slugify}}">{{page.author}}</a></span></div>
      <div class="blog-post__meta">
        <p class="publish">Published - <time itemprop="dateCreated" datetime="{{page.date}}">{{page.date | date: "%B
            %-d, %Y" }}</time></p>
        {% if page.date_updated %}
        <p class="divider">|</p>
        <p class="update">Updated - <time itemprop="dateUpdated" datetime="{{page.date_updated}}">{{page.date_updated |
            date: "%B %-d, %Y" }}</time</p> {% endif %} </div> </header> <section class="blog-post__text">
            {{page.content}}
            </section>
            <footer class="blog-post__tags">
              <p>tags:</p>
              <ul>
                {% for tag in page.tags %}
                <li>
                  {% if forloop.last == true %}
                  <a href="{{site.baseurl}}/tags/{{tag | slugify}}">{{tag}}</a>
                  {% else %}
                  <a href="{{site.baseurl}}/tags/{{tag | slugify}}">{{tag}}</a> /
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </footer>
      </div>
      <div class="blog-post__sideline"></div>
</article>