---
layout: default
---
<section class="linked">
  <div class="linked__sideline"></div>
  <div class="linked__content">
    <div class="linked__header">
      <h1>{{ page.tag | capitalize }}</h1>
    </div>
    <div class="linked__text">
      <h3>All Posts</h3>
      <ul>
        {% for post in site.tags[page.tag] %}
        <li class="sub-list">
          <a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a> by {{post.author}}<br><span>(Published: <time itemprop="dateCreated" datetime="{{page.date}}">{{post.date | date: "%B %-d, %Y" }}</time>)</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="linked__sideline"></div>
</section>