.project-entry {
  $self: &;
  display: flex;

  @include sm {
    flex-direction: column;
  }

  &:nth-child(odd) {
    @include splash-blog-dark;
    @include sideline-right-wide($self);

    @include sm {
      @include splash-blog-dark--mobile;
      margin-top: 4rem;
    }

    #{$self}__visual {
      order: 0;

      @include sm {
        order: -5;
        margin-bottom: 1rem;
      }
    }
  }
  

  &:nth-child(even) {
    @include splash-blog-light;
    @include sideline-left-wide($self);

    @include sm {
      @include splash-blog-light--mobile;
      margin-top: 4rem;
    }

    #{$self}__visual {
      order: -1;

      @include sm {
        order: -5;
        margin-bottom: 1rem;
      }
    }
  }

  &__text {
    flex: 3;
    display: flex;
    flex-direction: column;

    padding: 0 3rem;

    & > div {
      margin-bottom: 1rem;
    }

    h4 {
      margin-top: -4rem;
      margin-bottom: 0.5rem;
      display: block;

      @include sm {
        display: none;
      }
    }

    #{$self}__header {
      flex: 0 1 auto;
      display: flex;
      flex-direction: row;
      margin-bottom: 1.2rem;

      @include sm {
        flex-direction: column;
      }

      .title {
        flex: 1;
        margin-bottom: 0.5rem

        h3 {
          line-height: 1.25;
          font-size: 2.8rem;
        }

        a {
          text-decoration: none;
        }

        a:link,
        a:visited {
          color: $color-wet-asphalt;
        }
        
        a:hover,
        a:active {
          color: lighten($color-wet-asphalt, 15%);
        }
      }

      .date {
        flex: 0 0 17rem;
        align-self: center;
        text-align: right;

        @include sm {
          flex: 1;
          align-self: flex-start;
        }

        time {
          font-size: 1.7rem;
          color: $color-wet-asphalt;
        }
      }
    }
  }

  #{$self}__description {
    flex: 0 1 auto;
    p {
      font-size: 1.6rem;
    }

    a {
      display: inline-block;
      margin-right: 0.5rem;
      font-size: 1.6rem;
      text-decoration: none;
    }

    a:link,
    a:visited {        
      color: $color-primary-dark;
    }

    a:hover,
    a:active {
      color: darken($color-primary-light, 5%);
    }
  }

  #{$self}__features {
    flex: 0 1 auto;
    h4 {
      color: lighten($color-wet-asphalt, 5%);
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 1rem;
      margin-left: 1rem;
    }

    ul {
      margin-left: 4rem;
      list-style-type: circle;

      li {
        font-size: 1.6rem;
      }
    }
  }

  #{$self}__technologies-title {
    flex: 0 1 auto;
    h4 {
      color: lighten($color-wet-asphalt, 5%);
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: 1rem;
      margin-left: 1rem;
    }
  }

  #{$self}__technologies-links {
    flex: 0 1 50px;
    align-self: flex-start;
    margin-left: 1rem;

    a {
      display: inline-block;
      color: $color-white;
      text-decoration: none;
      font-size: 1.25rem;
      padding: 0.6rem 1.8rem;
      margin: 0.4rem;

      &:first-child {
        margin-left: 0;
      }

      &,
      &:link,
      &:visited {
        background-color: $color-primary-medium;
      }

      &:hover,
      &:active {
        background-color: $color-primary-dark;
      }
    }      
  }

  #{$self}__links {
    flex: 0 1 50px;
    align-self: flex-end;
    
    a {
      display: inline-block;
      color: $color-white;
      border: 1px solid rgba($color-white, 0.7);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      margin: 3rem 0 0;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.1), 0 0.5rem 1.5rem rgba($color-black, 0.1);

      &,
      &:link,
      &:visited {
        background-color: $color-primary-light;
      }

      &:hover,
      &:active {
        background-color: $color-primary-dark;
      }
    }
  }

  &__visual {
    flex: 4;

    h4 {
      display: none;
      margin-top: -4rem;
      margin-bottom: 0.5rem;

      @include sm {
        display: block;
        margin-left: 3rem;
      }
    }

    img {
      width: 100%;
      display: block;
    }
  }
}