$resume-text-font-size: 1.5rem;

.resume {
  $self: &;
  display: flex;

  &__sideline {
    flex: 2;

    @include lg {
      flex: 1;
    }

    @include md {
      flex: 1;
    }

    @include sm {
      flex: 0;
    }
  }

  &__content {
    flex: 5;
    display: flex;
    flex-direction: column;

    h1 {
      color: $color-wet-asphalt;
      font-size: 3rem;
      margin-bottom: 1rem;

      @include sm {
        text-align: center;
      }
    }

    @include xl {
      flex: 12;
    }

    @include lg {
      margin: 0 5rem;
    }

    @include md {
      margin: 0 3rem;
    }

    @include sm {
      margin: 0 2rem;
    }

    #{$self}__header {
      display: flex;
      justify-content: space-between;
      
      border-top: 2px solid $color-primary-light;
      margin: 1rem 0;
      padding: 1rem 0;

      @include md {
        flex-direction: column;
      }

      #{$self}__name {
        padding-left: 1rem;

        h2 {
          color: $color-primary-light;
          line-height: 1.3;
        }

        @include md {
          margin-left: 2rem;
          margin-bottom: 2rem;
        }
      }

      #{$self}__contact {
        font-size: 1.3rem;
        padding-right: 1rem;

        span {
          display: inline-block;
          margin-left: 1rem;

          a:link,
          a:visited {
            text-decoration: none;
            color: $color-primary-light;
          }

          a:hover,
          a:active {
            text-decoration: underline;
            color: darken($color-primary-light, 5%);
          }
        }

        @include md {
          margin-left: 3rem;
          margin-bottom: 2rem;
        }
      }
    }

    #{$self}__text {
      display: flex;

      @include md {
        flex-direction: column;
      }

      #{$self}__professional {
        flex: 6;
        border-right: 1px solid #CCC;

        @include md {
          border-right: none;
        }

        #{$self}__experience {
          display: flex;
          flex-direction: column;

          padding-right: 3rem;
          // padding-bottom: 2rem;

          @include md {
            padding-right: 0;
          }

          &--header {
            padding: 0 1rem;
            border-top: 2px solid $color-primary-light;
            margin-bottom: 1rem;

            h3 {
              color: $color-black;
              border-bottom: 1px solid #CCC;
              padding: 0.5rem 0;
            }
          }

          &--content {
            display: flex;
            font-size: $resume-text-font-size;
            
            @include md {
              flex-direction: column;
            }

            &:not(:last-child) {
              margin-bottom: 1rem;
            }

            a {
              text-decoration: none;
            }
        
            a:link,
            a:visited {          
              color: lighten($color-primary-dark, 25%);
            }
        
            a:hover,
            a:active {
              color: darken($color-primary-light, 15%);
            }

            p {
              font-size: inherit;
              margin-bottom: 2rem;
            }

            p.headline {
              color: $color-black;
              margin-bottom: 0.2rem;
              font-weight: 600;
            }

            p.sub-headline {
              color: $color-black;
              margin-bottom: 0.2rem;
              text-decoration: underline;
              font-weight: 400;
            }

            p.long-text {
              padding: 0 1rem 0 2.5rem;
              margin-bottom: 1rem;
            }

            ul {
              margin-left: 3rem;
              margin-bottom: 2rem;

              li.second-level {
                margin-bottom: -2rem;
              }
            }

            &-dates {
              padding-left: 2rem;
              flex: 2;

              p {
                font-style: italic;

                @include md {
                  margin-bottom: 0.2rem;
                }
              }
            }

            &-text {
              flex: 8;

              @include md {
                padding: 0 2rem;
              }
            }
          }
        }

        #{$self}__engagement {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;

          padding-right: 3rem;

          @include md {
            padding-right: 0;
            margin-bottom: 2rem;
          }

          &--header {
            padding: 0 1rem;
            border-top: 2px solid $color-primary-light;
            margin-bottom: 1rem;

            h3 {
              color: $color-black;
              border-bottom: 1px solid #CCC;
              padding: 0.5rem 0;
            }
          }

          &--content {
            display: flex;
            font-size: $resume-text-font-size;

            @include md {
              flex-direction: column;
            }

            &:not(:last-child) {
              margin-bottom: 1rem;
            }

            a {
              text-decoration: none;
            }
        
            a:link,
            a:visited {          
              color: lighten($color-primary-dark, 25%);
            }
        
            a:hover,
            a:active {
              color: darken($color-primary-light, 15%);
            }

            p {
              font-size: inherit;
              margin-bottom: 2rem;
            }

            p.headline {
              color: $color-black;
              margin-bottom: 0.2rem;
              font-weight: 600;
            }

            p.sub-headline {
              color: $color-black;
              margin-bottom: 0.2rem;
              text-decoration: underline;
              font-weight: 400;
            }

            ul {
              margin-left: 3rem;
              margin-bottom: 2rem;

              li.second-level {
                margin-bottom: -2rem;
              }

              span {
                display: block;
                font-style: italic;
                margin-left: 1rem;
              }
            }

            &-dates {
              padding-left: 2rem;
              flex: 2;
            }

            &-text {
              flex: 8;

              @include md {
                padding: 0 2rem;
              }
            }
          }
        }
      }

      #{$self}__knowledge {
        flex: 3;

        #{$self}__education {
          display: flex;
          flex-direction: column;

          padding-left: 3rem;

          @include md {
            padding-left: 0;
          }

          &--header {
            padding: 0 1rem;
            border-top: 2px solid $color-primary-light;
            margin-bottom: 1rem;

            h3 {
              color: $color-black;
              border-bottom: 1px solid #CCC;
              padding: 0.5rem 0;
            }
          }

          &--content {
            padding: 0 1rem;
            font-size: $resume-text-font-size;

            a {
              text-decoration: none;
            }
        
            a:link,
            a:visited {          
              color: lighten($color-primary-dark, 25%);
            }
        
            a:hover,
            a:active {
              color: darken($color-primary-light, 15%);
            }

            p {
              font-size: inherit;
              margin-bottom: 2rem;
              
              @include md {
                padding-left: 1rem;
              }
            }

            p.headline {
              color: $color-black;
              margin-bottom: 0.2rem;
              font-weight: 600;
            }
          }
        }

        #{$self}__expertise {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;

          padding-left: 3rem;

          @include md {
            padding-left: 0;
          }

          &--header {
            padding: 0 1rem;
            border-top: 2px solid $color-primary-light;
            margin-bottom: 1rem;

            h3 {
              color: $color-black;
              border-bottom: 1px solid #CCC;
              padding: 0.5rem 0;
            }
          }

          &--content {
            padding: 0 1rem;
            font-size: $resume-text-font-size;

            p {
              font-size: inherit;
              margin-bottom: 2rem;

              @include md {
                padding-left: 1rem;
              }
            }

            p.headline {
              color: $color-black;
              margin-bottom: 0.2rem;
              font-weight: 600;
            }

            ul {
              margin-left: 3rem;
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}